<section class="ftco-section ftco-deal bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ 'prod-1.png' | asset_url }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <div class="heading-section heading-section-white">
                    <span class="subheading">Deal of the month</span>
            <h2 class="mb-3">Deal of the month</h2>
          </div>
                <div id="timer" class="d-flex mb-4">
                      <div class="time" id="days">-1452<span>Days</span></div>
                      <div class="time pl-4" id="hours">19<span>Hours</span></div>
                      <div class="time pl-4" id="minutes">46<span>Minutes</span></div>
                      <div class="time pl-4" id="seconds">32<span>Seconds</span></div>
                    </div>
                    <div class="text-deal">
                        <h2><a href="#">Nike Free RN 2019 iD</a></h2>
                        <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                        <ul class="thumb-deal d-flex mt-4">
                            <li class="img" style="background-image: url({{ 'product-6.png' | asset_url }});"></li>
                            <li class="img" style="background-image: url({{ 'product-2.png' | asset_url }});"></li>
                            <li class="img" style="background-image: url({{ 'product-4.png' | asset_url }});"></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</section>